@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/noto-serif-jp";

@layer base {
  html {
    font-family: "Times New Roman", "Noto Serif CJK JP",
      theme("fontFamily.serif");
    color: #333;
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox */
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari 対応 */
  }

  p {
    padding-bottom: theme("spacing.4");
  }

  table * {
    padding: theme("spacing.2") theme("spacing.4");
  }

  tr {
    border-bottom: 0.5px solid theme("colors.gray.300");
  }
}
